.App {
  text-align: center;
}

.app_input {
  margin-top: 40px;
  width: 40%;
  height: 20px;
  padding: 5px;
  outline: none;
  font-size: 18px;
}

.results_container {
  margin: auto;
  width: 40%;
  padding: 5px;
  border: 1px solid black;
  border-top: none;
  text-align: left;
  max-height: 600px;
  overflow-y: scroll;
}

.results {
  display: block;
  padding: 5px;
  cursor: pointer;
}

.results:hover {
  background-color: beige;
}
